In [1]:
import pandas as pd

In [2]:
from mylib import atm_plot

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/datasets/commodity-prices/master/data/commodity-prices.csv", sep=",")
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index("Date")

In [4]:
df

,All Commodity Price Index,Non-Fuel Price Index,Food and Beverage Price Index,Food Price Index,Beverage Price Index,Industrial Inputs Price Index,Agricultural Raw Materials Index,Metals Price Index,Fuel Energy Index,Crude Oil petroleum,...,Sugar Free Market,Sugar U.S. import price,Sunflower oil,Tea,Tin,Uranium,Wheat,Wool coarse,Wool fine,Zinc
Date,,,,,,,,,,,,,,,,,,,,,
1980-01-01,NaN,NaN,NaN,NaN,189.310021,81.889650,78.900146,84.049004,NaN,72.089306,...,17.299999,19.660000,566.926957,225.179901,16973.587904,40.000000,175.634750,553.120940,684.277366,773.821533
1980-02-01,NaN,NaN,NaN,NaN,190.387928,83.048367,75.715154,88.345232,NaN,69.839420,...,22.750000,24.689999,573.958609,233.094498,17090.213164,38.000000,172.695236,568.154805,722.567093,868.620361
1980-03-01,NaN,NaN,NaN,NaN,194.060355,75.228895,69.002475,79.726312,NaN,70.981533,...,19.630001,21.180000,535.284522,226.833298,17460.590400,35.000000,163.509323,552.745109,695.956860,740.752441
1980-04-01,NaN,NaN,NaN,NaN,186.137888,72.471253,67.877108,75.789658,NaN,70.400373,...,21.250000,22.669998,486.062957,221.806793,17041.712600,32.000000,156.528030,510.650280,688.130355,707.683105
1980-05-01,NaN,NaN,NaN,NaN,185.070241,69.588103,65.879671,72.266748,NaN,71.021190,...,30.939999,31.889999,502.763130,229.611206,17180.604736,32.000000,161.304703,524.932443,720.760976,701.069092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-10-01,103.466916,126.907455,137.852216,133.899141,174.342772,115.852355,112.924508,117.967173,89.753388,88.288847,...,14.141818,25.038182,1059.053125,391.840000,15794.613636,36.955163,165.388254,884.877380,956.059067,1724.340909
2015-11-01,97.467668,122.040427,134.654483,130.371612,174.189364,109.299203,109.512921,109.144832,83.091752,81.061215,...,14.888000,25.606000,1045.010913,353.773968,14745.285714,35.934567,157.741528,902.048320,1003.058056,1583.309524
2015-12-01,90.734792,121.669445,136.304358,132.386700,172.467981,106.886989,109.422638,105.055460,72.636947,68.602763,...,15.000000,25.830909,1022.144112,343.490783,14691.690476,35.099756,163.793245,909.910775,1028.319875,1527.785714
2016-01-01,83.150947,121.295627,136.615213,134.186870,159.031071,105.821596,108.755324,103.702530,60.834986,56.045297,...,14.291053,25.831579,1020.136508,319.825524,13808.075000,34.622671,164.557592,930.918233,1014.234233,1520.362500
2016-02-01,84.834812,123.006453,136.995434,134.915617,156.194083,108.876441,108.855717,108.891411,62.503077,58.315197,...,13.290500,25.498500,1039.578571,287.262730,15610.142857,33.619177,159.251644,957.274067,1017.063037,1709.845238

In [5]:
df_daily = df.resample('1d', axis=0).interpolate()

In [6]:
df

,All Commodity Price Index,Non-Fuel Price Index,Food and Beverage Price Index,Food Price Index,Beverage Price Index,Industrial Inputs Price Index,Agricultural Raw Materials Index,Metals Price Index,Fuel Energy Index,Crude Oil petroleum,...,Sugar Free Market,Sugar U.S. import price,Sunflower oil,Tea,Tin,Uranium,Wheat,Wool coarse,Wool fine,Zinc
Date,,,,,,,,,,,,,,,,,,,,,
1980-01-01,NaN,NaN,NaN,NaN,189.310021,81.889650,78.900146,84.049004,NaN,72.089306,...,17.299999,19.660000,566.926957,225.179901,16973.587904,40.000000,175.634750,553.120940,684.277366,773.821533
1980-02-01,NaN,NaN,NaN,NaN,190.387928,83.048367,75.715154,88.345232,NaN,69.839420,...,22.750000,24.689999,573.958609,233.094498,17090.213164,38.000000,172.695236,568.154805,722.567093,868.620361
1980-03-01,NaN,NaN,NaN,NaN,194.060355,75.228895,69.002475,79.726312,NaN,70.981533,...,19.630001,21.180000,535.284522,226.833298,17460.590400,35.000000,163.509323,552.745109,695.956860,740.752441
1980-04-01,NaN,NaN,NaN,NaN,186.137888,72.471253,67.877108,75.789658,NaN,70.400373,...,21.250000,22.669998,486.062957,221.806793,17041.712600,32.000000,156.528030,510.650280,688.130355,707.683105
1980-05-01,NaN,NaN,NaN,NaN,185.070241,69.588103,65.879671,72.266748,NaN,71.021190,...,30.939999,31.889999,502.763130,229.611206,17180.604736,32.000000,161.304703,524.932443,720.760976,701.069092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-10-01,103.466916,126.907455,137.852216,133.899141,174.342772,115.852355,112.924508,117.967173,89.753388,88.288847,...,14.141818,25.038182,1059.053125,391.840000,15794.613636,36.955163,165.388254,884.877380,956.059067,1724.340909
2015-11-01,97.467668,122.040427,134.654483,130.371612,174.189364,109.299203,109.512921,109.144832,83.091752,81.061215,...,14.888000,25.606000,1045.010913,353.773968,14745.285714,35.934567,157.741528,902.048320,1003.058056,1583.309524
2015-12-01,90.734792,121.669445,136.304358,132.386700,172.467981,106.886989,109.422638,105.055460,72.636947,68.602763,...,15.000000,25.830909,1022.144112,343.490783,14691.690476,35.099756,163.793245,909.910775,1028.319875,1527.785714
2016-01-01,83.150947,121.295627,136.615213,134.186870,159.031071,105.821596,108.755324,103.702530,60.834986,56.045297,...,14.291053,25.831579,1020.136508,319.825524,13808.075000,34.622671,164.557592,930.918233,1014.234233,1520.362500
2016-02-01,84.834812,123.006453,136.995434,134.915617,156.194083,108.876441,108.855717,108.891411,62.503077,58.315197,...,13.290500,25.498500,1039.578571,287.262730,15610.142857,33.619177,159.251644,957.274067,1017.063037,1709.845238

In [7]:
# careful with +1 vs -1
dod = df.shift(1)/df
dod

,All Commodity Price Index,Non-Fuel Price Index,Food and Beverage Price Index,Food Price Index,Beverage Price Index,Industrial Inputs Price Index,Agricultural Raw Materials Index,Metals Price Index,Fuel Energy Index,Crude Oil petroleum,...,Sugar Free Market,Sugar U.S. import price,Sunflower oil,Tea,Tin,Uranium,Wheat,Wool coarse,Wool fine,Zinc
Date,,,,,,,,,,,,,,,,,,,,,
1980-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980-02-01,NaN,NaN,NaN,NaN,0.994338,0.986048,1.042065,0.951370,NaN,1.032215,...,0.760440,0.796274,0.987749,0.966046,0.993176,1.052632,1.017021,0.973539,0.947009,0.890863
1980-03-01,NaN,NaN,NaN,NaN,0.981076,1.103942,1.097282,1.108106,NaN,0.983910,...,1.158940,1.165722,1.072250,1.027603,0.978788,1.085714,1.056180,1.027878,1.038235,1.172619
1980-04-01,NaN,NaN,NaN,NaN,1.042562,1.038052,1.016579,1.051942,NaN,1.008255,...,0.923765,0.934274,1.101266,1.022662,1.024580,1.093750,1.044601,1.082434,1.011374,1.046729
1980-05-01,NaN,NaN,NaN,NaN,1.005769,1.041432,1.030319,1.048749,NaN,0.991259,...,0.686813,0.710881,0.966783,0.966010,0.991916,1.000000,0.970387,0.972792,0.954728,1.009434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-10-01,1.000084,1.006769,1.003444,1.005062,0.991972,1.010766,0.994326,1.022133,0.994553,0.985922,...,0.858245,0.975900,0.926942,0.947363,0.978393,0.998431,0.990558,1.019925,1.011177,0.997614
2015-11-01,1.061551,1.039880,1.023748,1.027057,1.000881,1.059956,1.031152,1.080832,1.080172,1.089163,...,0.949880,0.977825,1.013437,1.107600,1.071164,1.028402,1.048476,0.980965,0.953144,1.089074
2015-12-01,1.074204,1.003049,0.987896,0.984779,1.009981,1.022568,1.000825,1.038926,1.143932,1.181603,...,0.992533,0.991293,1.022371,1.029937,1.003648,1.023784,0.963053,0.991359,0.975434,1.036343
2016-01-01,1.091206,1.003082,0.997725,0.986585,1.084492,1.010068,1.006136,1.013046,1.194000,1.224059,...,1.049608,0.999974,1.001968,1.073994,1.063993,1.013780,0.995355,0.977434,1.013888,1.004883
2016-02-01,0.980151,0.986092,0.997225,0.994599,1.018163,0.971942,0.999078,0.952348,0.973312,0.961075,...,1.075283,1.013063,0.981298,1.113355,0.884558,1.029849,1.033318,0.972468,0.997219,0.889181

In [8]:
dod.max(axis=1).to_frame(name="dod")

                 dod
Date
1980-01-01       NaN
1980-02-01  1.213552
1980-03-01  1.266029
1980-04-01  1.253440
1980-05-01  1.222222
...              ...
2015-10-01  1.379310
2015-11-01  1.248992
2015-12-01  1.219601
2016-01-01  1.273646
2016-02-01  1.162108

[434 rows x 1 columns]

In [9]:
dod.idxmax(axis=1).to_frame(name="como name")

                                                    como name
Date
1980-01-01                                                NaN
1980-02-01                                              Hides
1980-03-01                                             Copper
1980-04-01                                       Swine - pork
1980-05-01                                               Lead
...                                                       ...
2015-10-01                                             Shrimp
2015-11-01                                       Swine - pork
2015-12-01                                          Oil Dubai
2016-01-01                                          Oil Dubai
2016-02-01  Natural Gas - Spot price at the Henry Hub term...

[434 rows x 1 columns]

In [10]:
res = dod.max(axis=1).to_frame(name="dod").merge(dod.idxmax(axis=1).to_frame(name="como name"), left_index=True, right_index=True)

In [11]:
res

                 dod                                          como name
Date
1980-01-01       NaN                                                NaN
1980-02-01  1.213552                                              Hides
1980-03-01  1.266029                                             Copper
1980-04-01  1.253440                                       Swine - pork
1980-05-01  1.222222                                               Lead
...              ...                                                ...
2015-10-01  1.379310                                             Shrimp
2015-11-01  1.248992                                       Swine - pork
2015-12-01  1.219601                                          Oil Dubai
2016-01-01  1.273646                                          Oil Dubai
2016-02-01  1.162108  Natural Gas - Spot price at the Henry Hub term...

[434 rows x 2 columns]

In [12]:
#"columns =" is a mega gotcha
# we're getting serious now ;)

from itertools import count

def nbest(r, n):
    q = r.sort_values().head(n)
    comos = list(q.index)
    values = list(q.values)
    counter = count()
    res_vals = [val for pair in zip(comos, values) for val in pair]
    columns = [val for pair in [(f"como {m}", f"yoy {m}") for m in range(1,n+1)] for val in pair ]
    q = pd.Series(data = res_vals, index = columns, name=r.name )
    return q

In [13]:
nbest(dod.iloc[3], 5)

como 1              Oranges
yoy 1              0.896552
como 2                 Lamb
yoy 2              0.899036
como 3            Soft Logs
yoy 3               0.91716
como 4        Soft Sawnwood
yoy 4               0.91716
como 5    Sugar Free Market
yoy 5              0.923765
Name: 1980-04-01 00:00:00, dtype: object

In [14]:
dod.apply(nbest, axis=1, **{'n': 3})

,como 1,yoy 1,como 2,yoy 2,como 3,yoy 3
Date,,,,,,
1980-01-01,All Commodity Price Index,NaN,Non-Fuel Price Index,NaN,Food and Beverage Price Index,NaN
1980-02-01,Sugar Free Market,0.760440,Sugar U.S. import price,0.796274,Copper,0.888889
1980-03-01,Bananas,0.880052,Coffee Other Mild Arabicas,0.893969,Crude Oil petroleum - West Texas Intermediate ...,0.937247
1980-04-01,Oranges,0.896552,Lamb,0.899036,Soft Logs,0.917160
1980-05-01,Sugar Free Market,0.686813,Sugar U.S. import price,0.710881,Oranges,0.852555
...,...,...,...,...,...,...
2015-10-01,Sugar Free Market,0.858245,Palm oil,0.911816,Sunflower oil,0.926942
2015-11-01,Oranges,0.859719,Fishmeal,0.939473,Shrimp,0.945652
2015-12-01,Fish salmon,0.866300,Soft Logs,0.902522,Soybean Oil,0.907763
2016-01-01,Natural Gas - Spot price at the Henry Hub term...,0.845398,Fish salmon,0.897670,Shrimp,0.920000
2016-02-01,Swine - pork,0.861882,Tin,0.884558,Zinc,0.889181

In [15]:
def find_best(df, n):
    return df.apply(nbest, axis=1, **{'n': n})

In [16]:
find_best(df, 3)

,como 1,yoy 1,como 2,yoy 2,como 3,yoy 3
Date,,,,,,
1980-01-01,Fish salmon,7.452902,China import Iron Ore Fines 62% FE spot,12.150000,Shrimp,13.337950
1980-02-01,Fish salmon,7.604658,China import Iron Ore Fines 62% FE spot,12.150000,Shrimp,12.676560
1980-03-01,Fish salmon,7.400278,China import Iron Ore Fines 62% FE spot,12.150000,Shrimp,12.786800
1980-04-01,Fish salmon,7.426402,China import Iron Ore Fines 62% FE spot,12.150000,Shrimp,12.345870
1980-05-01,Fish salmon,7.693488,Shrimp,12.015180,China import Iron Ore Fines 62% FE spot,12.150000
...,...,...,...,...,...,...
2015-10-01,Natural Gas - Spot price at the Henry Hub term...,2.315205,Fish salmon,5.023535,Natural Gas - Russian Natural Gas border price...,6.010000
2015-11-01,Natural Gas - Spot price at the Henry Hub term...,2.077474,Fish salmon,5.018104,Natural Gas - Russian Natural Gas border price...,5.870000
2015-12-01,Natural Gas - Spot price at the Henry Hub term...,1.922800,Fish salmon,5.792570,Natural Gas - Russian Natural Gas border price...,5.810000
2016-01-01,Natural Gas - Spot price at the Henry Hub term...,2.274432,Natural Gas - Russian Natural Gas border price...,5.090000,Fish salmon,6.452895
2016-02-01,Natural Gas - Spot price at the Henry Hub term...,1.957160,Natural Gas - Russian Natural Gas border price...,4.790000,Fish salmon,6.141200

# wrapping up neatly

In [21]:
df = pd.read_csv("https://raw.githubusercontent.com/datasets/commodity-prices/master/data/commodity-prices.csv", sep=",")
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index("Date")

import mylib
from tqdm.notebook import tqdm
tqdm.pandas()

mylib.find_best(mylib.dod(df), 2)

,como 1,yoy 1,como 2,yoy 2
Date,,,,
1980-01-01,All Commodity Price Index,NaN,Non-Fuel Price Index,NaN
1980-01-02,All Commodity Price Index,NaN,Non-Fuel Price Index,NaN
1980-01-03,Sugar Free Market,0.999899,Sugar U.S. import price,0.999933
1980-01-04,Sugar Free Market,0.999901,Sugar U.S. import price,0.999934
1980-01-05,Sugar Free Market,0.999903,Sugar U.S. import price,0.999935
...,...,...,...,...
2016-01-28,Natural Gas - Spot price at the Henry Hub term...,0.999974,Swine - pork,0.999979
2016-01-29,Natural Gas - Spot price at the Henry Hub term...,0.999974,Swine - pork,0.999979
2016-01-30,Natural Gas - Spot price at the Henry Hub term...,0.999973,Swine - pork,0.999980
2016-01-31,Natural Gas - Spot price at the Henry Hub term...,0.999973,Swine - pork,0.999980
2016-02-01,Natural Gas - Spot price at the Henry Hub term...,0.999973,Swine - pork,0.999980

In [19]:
print(dir(mylib))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'atm_plot', 'count', 'dod', 'find_best', 'nbest', 'pd', 'px']